Requirement already satisfied: pandas in /root/.pyenv/versions/3.10.19/lib/python3.10/site-packages (from -r requirements.txt (line 1)) (2.3.3)
Requirement already satisfied: numpy in /root/.pyenv/versions/3.10.19/lib/python3.10/site-packages (from -r requirements.txt (line 2)) (2.2.6)
Requirement already satisfied: openpyxl in /root/.pyenv/versions/3.10.19/lib/python3.10/site-packages (from -r requirements.txt (line 3)) (3.1.5)
Requirement already satisfied: python-dateutil in /root/.pyenv/versions/3.10.19/lib/python3.10/site-packages (from -r requirements.txt (line 4)) (2.9.0.post0)
Requirement already satisfied: requests in /root/.pyenv/versions/3.10.19/lib/python3.10/site-packages (from -r requirements.txt (line 5)) (2.33.1)
Requirement already satisfied: pulp in /root/.pyenv/versions/3.10.19/lib/python3.10/site-packages (from -r requirements.txt (line 6)) (3.3.0)
Requirement already satisfied: workalendar in /root/.pyenv/versions/3.10.19/lib/python3.10/site-packages (from -r requirements.txt (line 7)) (17.0.0)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 403 Forbidden'))': /simple/scipy/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 403 Forbidden'))': /simple/scipy/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 403 Forbidden'))': /simple/scipy/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 403 Forbidden'))': /simple/scipy/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 403 Forbidden'))': /simple/scipy/
ERROR: Could not find a version that satisfies the requirement scipy (from versions: none)

[notice] A new release of pip is available: 25.3 -> 26.1
[notice] To update, run: pip install --upgrade pip
ERROR: No matching distribution found for scipy
